# Ignore virtual environment
.venv/
.vscode/
Temp/
zzz_aryan/

# Ignore build, dist, main.spec and logs
build/
dist/
Logs/
main.spec

# Ignore documents directory
.documents/
OCSFiles/

# Ignore Python cache
__pycache__/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/__pycache__/
